
body {
    font-family: "Cairo";
    font-weight: 600;
    text-align: center;
    color: white;
  }
  p{
      text-align: center;
    font-size: larger;
    text-align: right;
    color: white;
    width: 55%;
  }
  /* Navigation Bar */
  .navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }


  /* Color-section */
  .Color-section{
    background-color:#0f4c75 ;
}
/* white-section */
.white-section{
    background-color: white;
}
/* Title Section */

#title {
    background-color: #1b262c;
    color: #fff;
    padding: 5% 10%;
}
}
.title-heading{
    font-family: Kufam;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
    margin: auto;
}

/* Title Image */
.title-image {
    width: 75%;
    margin: 10% auto;
}
/* First-section  */
#First-sectio{
    padding: 7% 15%;
}

.h-section{
   /* text-align: center;
   font-weight: 800;
   width: 50%;
   margin: 6% auto; */
   font-size: 3rem;
  line-height: 1.5;
}
.section-div{
    margin: 3% auto;
}
/* article-section */
.article-title{
    color: gray;
    font-size: xx-large;
    font-size: 2.5rem;
}
.article-p{
    color: black;
    text-align: right;
    width: 100%;
    line-height:1.7;
    margin: 3% auto;
}
/* article */
#article{
    padding: 7% 5%;
}


.carousel-item{
    padding: 7% 15%;
}